.loginRegistration {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-between;
}





.formPost {
    position: relative;
    left: 20px;
}

.getPostNew {
    position: relative;
    left: 20px;
}

.titreGetPost {
    position: relative;
    left: 20px;
}

.blockCardPost.row.align-self-center {
    position: relative;
    margin: 20px;
}

.btn.btn-warning {
    position: relative;
    left: 20px;
}